<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>node.js</title>
</head>
<body>
    <h2>node.js</h2>
    <p>
        Node.js®에 대해서 비동기 이벤트 주도 JavaScript 런타임으로써<br>
        Node.js 는 확장성 있는 네트워크 애플리케이션을 만들 수 있도록 설계되었습니다.<br>
        다음 "hello world" 예제는 다수의 연결을 동시에 처리할 수 있습니다.<br>
        각 연결에서 콜백이 실행되는데 실행할 작업이 없다면 Node.js 는 대기합니다.<br>
        이는 오늘날 OS 스레드가 일반적으로 사용하는 동시성 모델과는 대조적입니다.<br>
        스레드 기반의 네트워크는 상대적으로 비효율적이고 사용하기가 몹시 어렵습니다.<br>
        게다가 잠금이 없으므로 Node.js 의 사용자는 프로세스의 교착상태에 대해서 걱정할 필요가 없습니다.<br>
        Node.js 에서 I/O를 직접 수행하는 함수는 거의 없으므로 프로세스는 결과 블로킹 되지 않습니다.<br>
        아무것도 블로킹 되지 않으므로 Node.js 에서는 확장성 있는 시스템을 개발하는 게 아주 자연스럽습니다.<br>
    </p>
    <p><a href="/">홈으로</a></p>
</body>
</html>